  .eventCard-section {
  border: 2px solid #eeeeee;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  height: auto;
   background-color: white; 
   /* background-color: green;  */
} 


 @media screen and (max-width: 600px) {
  .eventCard-section {
    padding: 10px;
   
     
  }
} 

 @media screen and (max-width: 960px) {
  .eventCard-section {
    padding: 10px;
    
    
  }
} 

@media screen and(max-width:1260px) {
  .eventCard-section {
    padding: 10px;
    
     
  }
} 

 .eventdata-container{
  display: flex;
  gap:30px;
  justify-content: start;
  width: 100%;
  margin: 35px 0px 30px;
  overflow-x: scroll;
} 
  
