/* .background-image {
    background-image: url("../../assets/images/pub_resto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px; 
    padding-top: 50px; 
     
  } */