.navbar_container {
  /* background-color:white; */
  background: #ffffff99;

  width: 90%;
  margin: 20px auto;
  border-radius: 100px;
  align-items: center;
  /* border: 1px solid gray; */
  border: 1px solid #ffffff;
}
