.label {
  font-size: 14px;
  color: black;
}


/* header-content */

.header {
  font-size: 58px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #ffffff;

  /* background: #FFFFFF;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  width: fit-content; */
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 45px;
    line-height: noraml;
  }
}

@media screen and (max-width: 960px) {
  .header {
    font-size: 35px;
    line-height: noraml;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 25px;
    line-height: noraml;
  }
}
